<section class="about-section">

    <div class="container">

        <div class="text-center section-title">

            <h2>About Me</h2>

            <p>
                Get to know me better.
            </p>

        </div>

        <app-profile-summary></app-profile-summary>

        <div class="row g-4 mt-2">

            <div class="col-lg-6">

                <app-experience-card></app-experience-card>

            </div>

            <div class="col-lg-6">

                <app-education-card></app-education-card>

            </div>

        </div>

        <div class="mt-5">

            <app-competencies></app-competencies>

        </div>

    </div>

</section>