<p>about works!</p>
<section class="container py-5">

    <div class="text-center mb-5">

        <h2>About Me</h2>

        <p class="text-muted">
            Get to know me better.
        </p>

    </div>

    <app-profile-summary></app-profile-summary>

    <div class="row mt-5">

        <div class="col-lg-6">

            <app-experience-card></app-experience-card>

        </div>

        <div class="col-lg-6">

            <app-education-card></app-education-card>

        </div>

    </div>

    <div class="mt-5">

        <app-competencies></app-competencies>

    </div>

</section>