.navbar {

    transition: all .3s ease;

}

.navbar-brand {

    font-size: 1.4rem;

    font-weight: 700;

}

.nav-link {

    font-weight: 500;

    margin-left: 12px;

    transition: .3s;

}

.nav-link.active {

    color: #0d6efd !important;

}

.nav-link:hover {

    color: #0d6efd;

}